/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:
@import './variables/components';
@import './variables/colors';
@import './themes/default';
*/


.app_standart_button {
    color: #009688;
    background: #fff;
    border: 1px solid #009688;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
    cursor: pointer;
}

.app_standart_button:hover, .ghost-button:active {
  color:#fff;
  background:#009688;
}


.verticalcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


