@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; //font-family: "Ubuntu", Helvetica, Arial, sans-serif !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.app_link_button_spaces {
  display: inline-block;
  margin: .1rem .2rem;
  padding: 1rem .8rem;
}


.app_form_universal {

  ._form_wrapper {
	max-width: 320px;
	margin: 0 auto;
  }

  ._input_wrap {}

  input {

    background-color: rgb(240, 240, 240);
    border: 0px;
    box-shadow: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    //font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: rgb(51, 51, 51);
    font-size: 1.4rem;
    outline: none;

    &._disabled {
		text-align: center;
		cursor: pointer;
    }
  }

  label {
    display: block;
    margin-bottom: 4px;
    text-align: left;
    font-size: 1.2rem;
    color: #646464;
  }


  button {
	border: none;
    display: inline-block;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    padding: 10px 18px;
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(189, 8, 28);
    color: rgb(255, 255, 255);
    width: 100%;
  }

  .form_item_choice {
  	cursor: poitner;
	display: inline-block;
	margin: .5rem;
  }
}

