@import './variables';
@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import 'dialogs';
@import 'products';
@import 'form';
@import 'shop';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; //font-family: "Ubuntu", Helvetica, Arial, sans-serif !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.app_flex_menu_style {
  display: flex;
  >div:first-child {
    flex: 2;
  }
  >div:last-child {
    flex: 3;
  }

  ._right_info {

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: $standart_margin;
    }

  }
}


.app_link_button_spaces {
  display: inline-block;
  margin: .1rem .2rem;
  padding: 1rem .8rem;
}





.app_image_card {
  width: 10rem;
  height: 10rem;
  overflow-y: hidden;
  cursor: pointer;

  img {
    width: 100%;
  }
  
  @include inlineChilds;



}

.form_upload_images {

  width: 20rem;

}

.app_icon {
  width: 3rem;
  height: 3rem;

  svg {
    width: 100%;
    height: auto;
  }
}
