

.app_product {
	@include standartSquareView;
	margin: $standart_margin;
	._product_title {
		
	}
}

.form_item_choice._product {
	@include miniSquareView;
}



.app_product_list {
	height: 70vh;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;

}